<div class="login-content">
    <div class="container">
        <div class="row py-5">
            <form action="#" class="py-3">
                <h2 class="my-5">Login</h2>
                <input type="email" placeholder="Enter Your Email" class="form-control my-3">
                <div class="position-relative">
                    <input #inputPass #pass class="form-control" placeholder='*********' type="password" id="password">
                    <span
                        (click)="passwordShow = true; passwordShow == true? (pass.type = 'text'): (pass.type = 'password')"
                        [ngClass]="{'d-none': passwordShow }" role="button"
                        class="position-absolute top-50 end-0 translate-middle-y mx-2">
                        <i class="fas fa-eye"></i>
                    </span>
                    <span
                        (click)="passwordShow = false;passwordShow == false? (pass.type = 'password'): (pass.type = 'text')"
                        [ngClass]="{'d-none': !passwordShow}" role="button"
                        class="position-absolute top-50 end-0 translate-middle-y mx-2">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                </div>
                <button class="btn  btn-primary mt-2 " type="button">Login</button>
            </form>
        </div>
    </div>
</div>