<div class="header-content">
    <div id="carouselExampleIndicators" class="carousel slide w-100 h-100" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../../assets/images/home_bg_1.jpg" alt="home_bg_1">
          <div class="layer">
            <h5>Upto 60% Discount</h5>
            <p>Winter Stock Summer <br> Collection</p>
            <button class="btn" [routerLink]="['/products']">View More</button> <br>
            <div class="btn1 my-2">
              <button class="btn contact" routerLink="/contacts">Contact Me
                  <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12.9998 23.8333C18.9829 23.8333 23.8332 18.983 23.8332 13C23.8332 7.01687 18.9829 2.16663 12.9998 2.16663C7.01675 2.16663 2.1665 7.01687 2.1665 13C2.1665 18.983 7.01675 23.8333 12.9998 23.8333Z"
                          stroke="white" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"
                          stroke-linejoin="round" />
                      <path d="M11.6348 16.8241L15.4481 12.9999L11.6348 9.17578" stroke="white" stroke-width="2.5"
                          stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
              </button>
          </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/home_bg_2.jpg" alt="home_bg_2">
          <div class="layer">
            <h5>Best Relexing Collection</h5>
            <p>Exclusive Cool Summer <br> Collection</p>
            <button class="btn" [routerLink]="['/products']">View More</button> <br>
            <div class="btn1 my-2">
              <button class="btn contact" routerLink="/contacts">Contact Me 
                  <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12.9998 23.8333C18.9829 23.8333 23.8332 18.983 23.8332 13C23.8332 7.01687 18.9829 2.16663 12.9998 2.16663C7.01675 2.16663 2.1665 7.01687 2.1665 13C2.1665 18.983 7.01675 23.8333 12.9998 23.8333Z"
                          stroke="white" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"
                          stroke-linejoin="round" />
                      <path d="M11.6348 16.8241L15.4481 12.9999L11.6348 9.17578" stroke="white" stroke-width="2.5"
                          stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
              </button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>