<nav class="navbar navbar-expand-lg rounded-4 container ">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand text-white fw-bold d-flex justify-content-center align-items-center ">
            <!-- <div class="bgImg">
                <img src="../../../assets/Images/b2edc168bd2fd8ef0e2a7039fa12f31b.png" class="w-100" alt="">
            </div> -->
            <h4> Dolabk </h4>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <svg width="36" height="14" viewBox="0 0 36 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2H34" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M17.1643 12H33.9998" stroke="white" stroke-width="4" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link text-white " routerLink="products" routerLinkActive="active">Products</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-white " routerLink="cart" routerLinkActive="active">Cart</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white " routerLink="" >Collection</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white " routerLink="" >About Us</a>
                </li>
                
            </ul>
            <div class="btn">
                <button class="btn contact">Contact Me
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.9998 23.8333C18.9829 23.8333 23.8332 18.983 23.8332 13C23.8332 7.01687 18.9829 2.16663 12.9998 2.16663C7.01675 2.16663 2.1665 7.01687 2.1665 13C2.1665 18.983 7.01675 23.8333 12.9998 23.8333Z"
                            stroke="white" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M11.6348 16.8241L15.4481 12.9999L11.6348 9.17578" stroke="white" stroke-width="2.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>

    </div>
</nav>